<style>
    .sidebar-nav .nav li:first-child{
        margin-top: 15%;
    }
    .dataTables_wrapper{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .dropdown-container {
        display: none;
        background-color: #262626;
        padding-left: 8px;
    }

    .svg{
        fill: none;
    }



</style>




<main class="main">
    <ol class="breadcrumb">
        
        <li class="breadcrumb-menu d-md-down-none">
            <div aria-label="Button group" class="btn-group" role="group">
                
            </div>
        </li>
    </ol>
    <div class="container-fluid" style="background-color: #f6f7f8">
        <div id="ui-view">
            <div>
                <div class="animated fadeIn" style="background-color: #f6f7f8">

                    <div class="animated fadeIn">
                        
                            <div class="card-group mb-4">
                            <div class="col-sm-12">
                                <a class="w3-btn" href="/#!/main/adduser" style="float: right;background: rgb(6, 123, 201);
; border: none;color: white;padding: 10px 20px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;border-radius: 10px;">Add User</a>
                            </div>
                            <br></br>
                            <br></br>
                            <div class="col-sm-12">
                                <div class="card w3-card">
                                    <div class="card-header" style="background-color: white;padding-top: 17px;
                                    padding-left: 22px;">
                                        <i class="fa fa-edit"></i> User Details
                                        <div class="card-header-actions">
                                            <a class="card-header-action" href="#" target="_blank"><small class="text-muted"></small></a>
                                        </div>
                                    </div>
                    <div class="card-body">
                        <div class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer" id="DataTables_Table_0_wrapper">
                            <div class="row">
                                <div class="col-sm-12" id="runningOrdersTable">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>

</main>
